releases:
  - name: prometheus-stack
    namespace: monitoring
    createNamespace: true
    chart: prometheus-community/kube-prometheus-stack
    repo: https://prometheus-community.github.io/helm-charts
    version: "56.0.0"
    values:
      - prometheus:
          prometheusSpec:
            storageSpec:
              volumeClaimTemplate:
                spec:
                  storageClassName: gp3
                  resources:
                    requests:
                      storage: 20Gi
      - grafana:
          adminPassword: "changeit123"
          persistence:
            enabled: true
            size: 10Gi
          ingress:
            enabled: true
            ingressClassName: alb
            hosts: ["grafana.example.com"]
