replicaCount: 1

image:
  tag: "1.27"

ingress:
  enabled: true
  hosts:
    - host: dev.app.example.com
      paths:
        - path: /
          pathType: Prefix

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 150m
    memory: 128Mi

autoscaling:
  enabled: false

config:
  LOG_LEVEL: debug
  APP_ENV: dev
