apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: applications
  namespace: argocd
spec:
  project: applications
  source:
    repoURL: https://github.com/YOUR-ORG/eks-infrastructure.git
    targetRevision: main
    path: helm-releases/applications
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
